#about-banner{
    height: 500px;
    overflow: hidden;
}

#about-banner:after{
    content: '';
    width: 110%;
    height: 100px;
    left: -20px;
    bottom: -50px;
    position: absolute;
    transform: rotate(2deg);
    z-index: 100;
    background-color: #fff;
}

#about-banner .icon-previous{
    top: 16px;
    right: 16px;
    position: absolute;
    color: #fff;
    font-size: 32px;
    z-index: 200;
    transition: all 0.3s ease;
}

#about-banner .icon-previous:hover{
    color: #000;
}

#about-banner .content{
    z-index: 3;
}

#about-banner .container-shapes{
    width: 100%;
    height: calc(100% + 70px);
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

#about-banner .shape{
    width: 500px;
    height: 500px;
    position: absolute;
    border: solid 2px #B38DFF;
}

#about-banner div.shape:nth-of-type(even){
    top: -170px;
    left: -90px;
    transform: rotate(190deg);
}

#about-banner div.shape:nth-of-type(odd){
    bottom: -200px;
    right: 10px;
    transform: rotate(60deg);
}