/* Hide scrollbars. */
::-webkit-scrollbar {width: 0 !important;}
*{-ms-overflow-style: none; overflow: -moz-scrollbars-none;}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: auto;
}

ul.with-bullets{
    list-style: inside;
}

.wrapper{clear: both;}

header.mainnav{height: 74px;}

nav{
    width: 100%;
    position: fixed;
    z-index: 900;
    background-color: #fff;
}

nav:after{
    content: '';
    clear: both;
}

nav .logo{
    padding: 16px 24px;
    float: left;
    color: #000;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.3s ease;
}

header.mainnav nav .mobile-icon{
    padding: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 32px;
}

textarea{resize: none;}

nav .logo:hover{color: #A071FF;}

nav ul{
    float: right;
}

nav ul:not(.dropdown-items) li{
    display: inline-block;
}

nav ul li a, nav ul li.dropdown p.title{
    padding: 22px 18px 23px 18px;
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover, nav ul li.active a{color: #A071FF;}
nav ul li.active a:hover{color: #B38DFF;}

nav ul li.dropdown{
    position: relative;
}

nav ul li.dropdown .icon-down{
    margin-left: 8px;
}

nav ul li.dropdown:hover ul.dropdown-items{
    opacity: 1;
    pointer-events: all;
}

nav ul li.dropdown ul.dropdown-items{
    top: 60px;
    right: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
}

nav ul li.dropdown ul.dropdown-items li{
    display: block;
}

nav ul li.dropdown ul.dropdown-items li a{
    padding: 12px 18px;
}

.footer-push{
    width: 100%;
    flex-grow: 1;
}

footer{
    background-color: #333;
}

footer .copyright{
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.btn-bordered{
    padding: 24px 48px;
    display: inline-block;
    color: #9065E5;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #9065E5;
    transition: all 0.3s ease;
}

.btn-bordered:hover, .btn-bordered:active{
    color: #fff;
    background-color: #9065E5;
}

.btn-bordered.btn-color-white{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-bordered.btn-color-white:hover, .btn-bordered.btn-color-white:active{
    color: #000;
    background-color: #fff;
}

.project-row{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
}

.project-card{
    margin: 0px auto 70px auto !important;
    overflow: hidden;
}

.project-card .project-wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.project-card .project-wrapper:before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    background-color: #000;
    transition: all 0.35s ease;
}

.project-card .project-wrapper:hover:before{
    opacity: 0.3;
}

.project-card .project-wrapper:hover .thumbnail .logo{
    transform: scale(1.1, 1.1);
}

.project-card .project-wrapper .info{
    padding: 12px 14px;
    flex-grow: 1;
    color: #fff;
    background-color: #333;
    z-index: 3;
}

.project-card .project-wrapper .thumbnail{
    padding: 200px 24px;
    background-color: #a071ff;
    overflow: hidden;
    position: relative;
}

.project-card .project-wrapper .thumbnail:before, .project-card .project-wrapper .thumbnail:after{
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    border: solid 2px #B38DFF;
}

.project-card .project-wrapper .thumbnail:before{
    top: -170px;
    left: -90px;
    transform: rotate(190deg);
}

.project-card .project-wrapper .thumbnail:after{
    bottom: -200px;
    right: 10px;
    transform: rotate(60deg);
}

.project-card .project-wrapper .thumbnail .logo{
    margin: 0px;
    color: #fff;
    text-align: center;
    z-index: 4;
    transition: all 0.35s ease;
}

.project-card .project-wrapper .info p{
    font-weight: 100;
}

.project-card .project-wrapper .info p.title{
    font-weight: 500;
}

#form-contact{
    min-height: 732px;
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: hidden;
}

#form-contact .info{
    margin-bottom: 28px;
    padding-left: 12px;
    color: #fff;
}

#form-contact button[type="submit"]{
    float: right;
}

#form-contact input, #form-contact textarea{
    margin-bottom: 20px;
}

#page-notfound{
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page-notfound a{
    color: #000;
    text-decoration: none;
}

#component-contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

@media only screen and (max-width: 967px){
    nav > ul{
        width: 100%;
        height: 100vh;
        padding-top: 69px;
        padding-left: 24px;
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    nav > ul:not(.mobile-open){
        left: 100%;
    }

    header.mainnav nav .mobile-icon{
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s ease;
    }

    ul.mobile-open + i.mobile-icon{
        color: #A071FF;
    }
    
    nav ul:not(.dropdown-items) li{
        display: block;
    }
    
    nav ul li a, nav ul li.dropdown p.title{
        padding: 16px 18px 16px 0px;
        display: block;
        color: #000;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    
    nav ul li a:hover, nav ul li.active a{color: #A071FF;}
    nav ul li.active a:hover{color: #B38DFF;}
    
    nav ul li.dropdown{
        position: relative;
    }
    
    nav ul li.dropdown .icon-down{
        display: none;
    }
    
    nav ul li.dropdown ul.dropdown-items{
        position: static;
        display: block;
        float: none;
        opacity: 1;
        pointer-events: all;
        border-left: solid 2px #EAEAEA;
    }

    nav ul li.dropdown p.title{
        margin: 0px;
    }
    
    nav ul li.dropdown ul.dropdown-items li{
        display: block;
    }
    
    nav ul li.dropdown ul.dropdown-items li a{
        padding: 12px 18px;
    }
}

@media only screen and (max-width: 768px){
    .indent-small{padding-top: 16px;padding-bottom: 16px;}
    .indent-small-top{padding-top: 16px;}
    .indent-small-bottom{padding-bottom: 16px;}
    .indent-medium{padding-top: 35px;padding-bottom: 35px;}
    .indent-medium-top{padding-top: 35px;}
    .indent-medium-bottom{padding-bottom: 35px;}
    .indent-large{padding-top: 85px;padding-bottom: 85px;}
    .indent-large-top{padding-top: 85px;}
    .indent-large-bottom{padding-bottom: 85px;}

    div.project-card{
        margin-bottom: 32px !important;
        padding: 0px;
    }
}

@media only screen and (max-width: 576px){
    .indent-medium{padding-top: 24px;padding-bottom: 24px;}
    .indent-medium-top{padding-top: 24px;}
    .indent-medium-bottom{padding-bottom: 24px;}
    .indent-large{padding-top: 32px;padding-bottom: 32px;}
    .indent-large-top{padding-top: 32px;}
    .indent-large-bottom{padding-bottom: 32px;}

    div.project-card{
        margin-bottom: 32px !important;
    }
}