@charset "utf-8";
/*
Fluidify Framework
Compatible with Fluidify and Fluidify Elite

All rights reserved - Influid Creative Digital Agency
https://www.influid.nl
*/

/*
1366(XL)
1200(L)
960(M)
768(S)
576(XS)
*/

/* BETA */
.vertical-center-wrapper{
	display:table;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.vertical-center-row{
	display:table-cell;
	vertical-align:middle;	
}
.vertical-center-item{
	margin-left:auto;
	margin-right:auto;
}
.screen-fixed-height{
	height:100vh;	
}
.header{
	z-index:1000;	
}




/* Fluidify cms */
body{
	margin:0;
	padding:0;	
}

embeddedContent{max-width:100%;}
.fdf-note{position:absolute;padding:10px;background-color:#00d5ff;color:#fff;font-weight:bold;font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;top:0;left:0;z-index:999;}

/*standard*/
*, *:after, *:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.wrapper{
	position:relative;
	width:100%;
}
.wrapper:after{
	content:"";
	display:block;
	clear:both;	
}
a{text-decoration:none;}
.pointer{cursor:pointer;}
/* nav */
.navbar-right{float:right;}
.navbar-left{float:left;}

ul.nav-left, ul.nav-right{padding:0;margin:0;}
ul.nav-left>li{float:left;list-style:none;}
ul.nav-right>li{float:right;list-style:none;}

.nav-icon-right{width:40px;display:block;cursor:pointer;float:right;}
.nav-icon-right span{width:40px;height:4px;margin-bottom:5px;display:block;background-color:#000;}
.nav-icon-left{width:40px;display:block;cursor:pointer;float:left;}
.nav-icon-left span{width:40px;height:4px;margin-bottom:5px;display:block;background-color:#000;}
.nav-icon-right span:nth-child(3),.nav-icon-left span:nth-child(3){margin-bottom:0px;}



/* clear & spaces */
.clear{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}
.clearfix:after{content:"";display:block;height:0;clear:both;}

.clear-10{clear:both;width:100%;height:10px;}
.clear-20{clear:both;width:100%;height:20px;}
.clear-25{clear:both;width:100%;height:25px;}
.clear-30{clear:both;width:100%;height:30px;}
.clear-40{clear:both;width:100%;height:40px;}
.clear-50{clear:both;width:100%;height:50px;}
.clear-100{clear:both;width:100%;height:100px;}
.clear-150{clear:both;width:100%;height:150px;}
.clear-200{clear:both;width:100%;height:200px;}

.clear-10vh{clear:both;width:100%;height:10vh;}
.clear-25vh{clear:both;width:100%;height:25vh;}
.clear-30vh{clear:both;width:100%;height:30vh;}
.clear-35vh{clear:both;width:100%;height:35vh;}
.clear-40vh{clear:both;width:100%;height:40vh;}
.clear-45vh{clear:both;width:100%;height:45vh;}
.clear-50vh{clear:both;width:100%;height:50vh;}

/* margin & padding */
.margin-top-50{margin-top:50px !important;}
.margin-top-100{margin-top:100px !important;}
.margin-top-150{margin-top:150px !important;}
.margin-top-30vh{margin-top:30vh !important;}
.margin-top-40vh{margin-top:40vh !important;}
.margin-top-45vh{margin-top:45vh !important;}
.margin-top-50vh{margin-top:50vh !important;}

/* basic */
.section{width:100%;padding:100px 0px;position:relative;float:left;}

/* containers */
.container{
	width:1240px;
	margin:0px auto 0px auto;
	box-sizing:border-box;
	position:relative;
	max-width:100%;
}
.container-res-l{
	width:80%;
	margin:0px auto 0px auto;
	box-sizing:border-box;
	position:relative;
	max-width:100%;	
}
.container:after{
	content:"";
	display:block;
	clear:both;	
}

.inner{
	width:100%;
	position:absolute;
	top:0;
	left:0;	
	z-index:2;
}
/* child edits */
.button-center .button{
	margin:0px auto 0px auto;
	display:inline-block;
	float:none !important;
}

/* animations */
.an-transition-ease-fast{transition:312ms ease;}
.an-transition-ease-normal{transition:0.5s ease;}
.an-transition-ease-slow{transition:1s ease;}

/* positions */
.bottom{bottom:0px !important;}
.bottom-auto{bottom:auto !important;}
.top{top:0px !important;}
.top-auto{top:auto !important;}
.right{right:0px !important;}
.right-auto{right:auto !important;}
.float-right{float:right!important;}
.left{left:0 !important;}
.left-auto{left:auto !important;}
.float-left{float:left!important;}
.float-none{float:none!important;}
.fixed{position:fixed !important;}
.absolute{position:absolute !important;}
.relative{position:relative !important;}

/* media */

img, video{display:block;max-width:100%;height:auto !important;}
iframe{max-width:100%;}


.img-float-left img{float:left;}
.img-float-right img{float:right;}
.video-float-left video{float:left;}
.video-float-right video{float:right;}

.img-force-width img{width:100% !important;max-width:100% !important;height:auto !important;}
.video-force-width video{width:100% !important;max-width:100% !important;height:auto !important;}

.img-fixed-all img{position:fixed !important;}
.img-fixed>img{position:fixed !important;}
.img-absolute-all img{position:absolute !important;}
.img-absolute>img{position:absolute !important;}
.img-relative-all img{position:relative !important;}
.img-relative>img{position:relative !important;}
.video-fixed video{position:fixed !important;}
.video-absolute video{position:absolute !important;}
.video-relative video{position:relative !important;}

.img-top img{top:0;}
.img-right img{right:0;}
.img-bottom img{bottom:0;}
.img-left img{left:0;}
.video-top img{top:0;}
.video-right img{right:0;}
.video-bottom img{bottom:0;}
.video-left img{left:0;}

.img-cover>img:nth-child(1){object-fit:cover;width:100% !important;height:100% !important;position:absolute;z-index:-1;top:0;left:0;}
.video-cover>video:nth-child(1){object-fit:cover;width:100% !important;height:100% !important;position:absolute;z-index:-1;top:0;left:0;}
.media-cover>img:nth-child(1),.media-cover video:nth-child(1){object-fit:cover;width:100% !important;height:100% !important;position:absolute;z-index:-1;}

.img-cover-fixed>img:nth-child(1){object-fit:cover;width:100% !important;height:100% !important;position:fixed;z-index:-1;top:0;left:0;}

.img-xxs img{max-width:20px !important;}
.img-xs img{max-width:25px !important;}
.img-s img{max-width:50px !important;}
.img-m img{max-width:100px !important;}
.img-l img{width:150px !important;}
.img-xl img{width:200px !important;}
.img-xxl img{width:250px !important;}

.img-center img{margin:0px auto 0px auto;float:none;}


/* padding */
.padding-reset-top{padding-top:0px !important;}
.padding-reset-right{padding-right:0px !important;}
.padding-reset-bottom{padding-bottom:0px !important;}
.padding-reset-left{padding-left:0px !important;}
.padding-reset{padding:0 !important;}
.padding{padding:20px !important;}
.padding-s{padding:10px !important;}
.padding{padding:20px !important;}
.padding-m{padding:20px !important;}
.padding-l{padding:40px !important;}
.padding-xl{padding:50px !important;}

/* height and width */
.screen{
	min-height:100vh !important;
	position:relative;
}
.screen-fixed-height{
	height:100vh;	
}


.banner-xs{
	height:10vh;
	overflow:hidden;
}
.banner-s{
	height:10vh;
	overflow:hidden;	
}
.banner-m{
	height:10vh;
	overflow:hidden;	
}

.banner-l{
	height:10vh;
	overflow:hidden;	
}
.banner-xl{
	height:10vh;
	overflow:hidden;	
}

/* text */
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-title-center h1{text-align:center;}
.text-title-center h2{text-align:center;}
.text-title-center h3{text-align:center;}
.text-title-center h4{text-align:center;}
.text-title-center h5{text-align:center;}

.text-col-2{-webkit-column-count:2;-moz-column-count:2;column-count:2;}
.text-col-3{-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.text-col-4{-webkit-column-count:4;-moz-column-count:4;column-count:4;}
.text-col-5{-webkit-column-count:5;-moz-column-count:5;column-count:5;}

.text-gap-20{-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px;}
.text-gap-30{-webkit-column-gap:30px;-moz-column-gap:30px;column-gap:30px;}
.text-gap-40{-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px;}
.text-gap-50{-webkit-column-gap:50px;-moz-column-gap:50px;column-gap:50px;}

.text-shadow-light{
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.text-shadow-regular{
	text-shadow:1px 1px 1px #000;
}
.text-shadow-heavy{
	text-shadow:2px 2px 2px #000;
}

/* colors */
.white{color:#fff;}
.bg-white{background-color:#fff;}

.black{color:#000;}
.bg-black{background-color:#000;}

/* visibility, overflows and displays */
.show-xs, .show-s, .show-m, .show-l, .show-xl, .xs-show, .s-show, .m-show, .l-show, .xl-show{
	display:none;
}
.display-block{
	display:block !important;	
}
.display-inline-block{
	display:inline-block;	
}
.display-none{
	display:none !important
}
.display-flex{
	display:-ms-flex;
	display:-webkit-flex;
	display:flex;	
}
.visibility-hidden{
	visibility:hidden !important;
}
.overflow-x-hidden{
	overflow-x:hidden !important;	
}
.overflow-y-hidden{
	overflow-y:hidden !important;	
}
.overflow-hidden{
	overflow:hidden !important;	
}

/* lib */
[class^="ffcts"]{
	-moz-transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-o-transition:0.5s ease;
	transition:0.5s ease;
	opacity:0;
}


/*col-*/
.col-center{margin:0px auto 0px auto;float:none !important;}

.col-100{width:100%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-95{width:95%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-90{width:90%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-85{width:85%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-80{width:80%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-75{width:75%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-70{width:70%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-2-3, .col-66{width:66.6%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-65{width:65%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-60{width:60%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-55{width:55%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-50{width:50%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-45{width:45%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-40{width:40%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-35{width:35%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-3, .col-33{width:33.3%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-30{width:30%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-25{width:25%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-20{width:20%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-6{width:16.6%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-15{width:15%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-8{width:12.5%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-10{width:10%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-5{width:5%;padding:20px;box-sizing:border-box;float:left;position:relative;}

.col-100-nr{width:100%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-95-nr{width:95%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-90-nr{width:90%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-85-nr{width:85%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-80-nr{width:80%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-75-nr{width:75%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-70-nr{width:70%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-2-3-nr{width:66.6%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-65-nr{width:65%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-60-nr{width:60%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-55-nr{width:55%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-50-nr{width:50%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-45-nr{width:45%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-40-nr{width:40%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-35-nr{width:35%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-3-nr{width:33.3%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-30-nr{width:30%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-25-nr{width:25%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-20-nr{width:20%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-6-nr{width:16.6%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-15-nr{width:15%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-1-8-nr{width:12.5%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-10-nr{width:10%;padding:20px;box-sizing:border-box;float:left;position:relative;}
.col-5-nr{width:5%;padding:20px;box-sizing:border-box;float:left;position:relative;}


.push-left-5{margin-left:5%;}
.push-left-10{margin-left:10%;}
.push-left-15{margin-left:15%;}
.push-left-1-6{margin-left:16.6%;}
.push-left-20{margin-left:20%;}
.push-left-25{margin-left:25%;}
.push-left-30{margin-left:30%;}
.push-left-1-3{margin-left:33.3%;}
.push-left-33{margin-left:33.3%;}
.push-left-35{margin-left:35%;}
.push-left-40{margin-left:40%;}
.push-left-45{margin-left:45%;}
.push-left-50{margin-left:50%;}
.push-left-55{margin-left:55%;}
.push-left-60{margin-left:60%;}
.push-left-65{margin-left:65%;}
.push-left-2-3{margin-left:66.6%;}
.push-left-70{margin-left:70%;}
.push-left-75{margin-left:75%;}
.push-left-80{margin-left:80%;}
.push-left-85{margin-left:85%;}
.push-left-90{margin-left:90%;}
.push-left-95{margin-left:95%;}

.push-right-5{margin-right:5%;}
.push-right-10{margin-right:10%;}
.push-right-15{margin-right:15%;}
.push-right-1-6{margin-right:16.6%;}
.push-right-20{margin-right:20%;}
.push-right-25{margin-right:25%;}
.push-right-30{margin-right:30%;}
.push-right-1-3{margin-right:33.3%;}
.push-right-33{margin-right:33.3%;}
.push-right-35{margin-right:35%;}
.push-right-40{margin-right:40%;}
.push-right-45{margin-right:45%;}
.push-right-50{margin-right:50%;}
.push-right-55{margin-right:55%;}
.push-right-60{margin-right:60%;}
.push-right-65{margin-right:65%;}
.push-right-2-3{margin-right:66.6%;}
.push-right-70{margin-right:70%;}
.push-right-75{margin-right:75%;}
.push-right-80{margin-right:80%;}
.push-right-85{margin-right:85%;}
.push-right-90{margin-right:90%;}
.push-right-95{margin-right:95%;}

/*responsive*/

/* large devices xl */
@media screen and (max-width:1365px){
.xl-col-center{margin:0px auto 0px auto;float:none !important;}
	.container{width:90%;}
	.show-xl{display:block;}.hide-xl{display:none;}
.xl-col-100{width:100%;}.xl-col-95{width:95%;}.xl-col-90{width:90%;}.xl-col-85{width:85%;}.xl-col-80{width:80%;}.xl-col-75{width:75%;}.xl-col-70{width:70%;}.xl-col-2-3{width:66.6%;}.xl-col-65{width:65%;}.xl-col-60{width:60%;}.xl-col-55{width:55%;}.xl-col-50{width:50%;}.xl-col-45{width:45%;}.xl-col-40{width:40%;}.xl-col-35{width:35%;}.xl-col-1-3fix{width:33.4%;}.xl-col-1-3{width:33.3%;}.xl-col-30{width:30%;}.xl-col-25{width:25%;}.xl-col-20{width:20%;}.xl-col-1-6fix{width:17%;}.xl-col-1-6{width:16.6%;}.xl-col-15{width:15%;}.xl-col-1-8{width:12.5%;}.xl-col-10{width:10%;}
.xl-push-left-5{margin-left:5%;}
.xl-push-left-10{margin-left:10%;}
.xl-push-left-15{margin-left:15%;}
.xl-push-left-1-6{margin-left:16.6%;}
.xl-push-left-20{margin-left:20%;}
.xl-push-left-25{margin-left:25%;}
.xl-push-left-30{margin-left:30%;}
.xl-push-left-1-3{margin-left:33.3%;}
.xl-push-left-33{margin-left:33.3%;}
.xl-push-left-35{margin-left:35%;}
.xl-push-left-40{margin-left:40%;}
.xl-push-left-45{margin-left:45%;}
.xl-push-left-50{margin-left:50%;}
.xl-push-left-55{margin-left:55%;}
.xl-push-left-60{margin-left:60%;}
.xl-push-left-65{margin-left:65%;}
.xl-push-left-2-3{margin-left:66.6%;}
.xl-push-left-70{margin-left:70%;}
.xl-push-left-75{margin-left:75%;}
.xl-push-left-80{margin-left:80%;}
.xl-push-left-85{margin-left:85%;}
.xl-push-left-90{margin-left:90%;}
.xl-push-left-95{margin-left:95%;}	

.xl-push-right-5{margin-right:5%;}
.xl-push-right-10{margin-right:10%;}
.xl-push-right-15{margin-right:15%;}
.xl-push-right-1-6{margin-right:16.6%;}
.xl-push-right-20{margin-right:20%;}
.xl-push-right-25{margin-right:25%;}
.xl-push-right-30{margin-right:30%;}
.xl-push-right-1-3{margin-right:33.3%;}
.xl-push-right-33{margin-right:33.3%;}
.xl-push-right-35{margin-right:35%;}
.xl-push-right-40{margin-right:40%;}
.xl-push-right-45{margin-right:45%;}
.xl-push-right-50{margin-right:50%;}
.xl-push-right-55{margin-right:55%;}
.xl-push-right-60{margin-right:60%;}
.xl-push-right-65{margin-right:65%;}
.xl-push-right-2-3{margin-right:66.6%;}
.xl-push-right-70{margin-right:70%;}
.xl-push-right-75{margin-right:75%;}
.xl-push-right-80{margin-right:80%;}
.xl-push-right-85{margin-right:85%;}
.xl-push-right-90{margin-right:90%;}
.xl-push-right-95{margin-right:95%;}

.xl-push-right-none{margin-right:0;}
.xl-push-left-none{margin-left:0;}
}
/* large devices l */
@media screen and (max-width:1199px){
.l-col-center{margin:0px auto 0px auto;float:none !important;}
	.col-100, .col-95, .col-90, .col-85, .col-80, .col-75{width:100%;}
	.col-70{width:70%;}
	.col-2-3, .col-66{width:66.6%;}
	.col-65{width:65%;}
	.col-60{width:60%;}
	.col-55{width:55%;}
	.col-50{width:50%;}
	.col-45{width:45%;}
	.col-40{width:40%;}
	.col-35{width:35%;}
	.col-1-3fix{width:33.4%;}
	.col-1-3, .col-33{width:33.3%;}
	.col-30{width:50%;}
	.col-25{width:50%;}
	.col-20{width:50%;}
	.col-15{width:15%;}
	.col-10{width:10%;}
	
	.show-l{display:block;}.hide-l{display:none;}
.l-col-100{width:100%;}.l-col-95{width:95%;}.l-col-90{width:90%;}.l-col-85{width:85%;}.l-col-80{width:80%;}.l-col-75{width:75%;}.l-col-70{width:70%;}.l-col-2-3{width:66.6%;}.l-col-65{width:65%;}.l-col-60{width:60%;}.l-col-55{width:55%;}.l-col-50{width:50%;}.l-col-45{width:45%;}.l-col-40{width:40%;}.l-col-35{width:35%;}.l-col-1-3fix{width:33.4%;}.l-col-1-3{width:33.3%;}.l-col-30{width:30%;}.l-col-25{width:25%;}.l-col-20{width:20%;}.l-col-1-6fix{width:17%;}.l-col-1-6{width:16.6%;}.l-col-15{width:15%;}.l-col-1-8{width:12.5%;}.l-col-10{width:10%;}
.l-push-left-5{margin-left:5%;}
.l-push-left-10{margin-left:10%;}
.l-push-left-15{margin-left:15%;}
.l-push-left-1-6{margin-left:16.6%;}
.l-push-left-20{margin-left:20%;}
.l-push-left-25{margin-left:25%;}
.l-push-left-30{margin-left:30%;}
.l-push-left-1-3{margin-left:33.3%;}
.l-push-left-33{margin-left:33.3%;}
.l-push-left-35{margin-left:35%;}
.l-push-left-40{margin-left:40%;}
.l-push-left-45{margin-left:45%;}
.l-push-left-50{margin-left:50%;}
.l-push-left-55{margin-left:55%;}
.l-push-left-60{margin-left:60%;}
.l-push-left-65{margin-left:65%;}
.l-push-left-2-3{margin-left:66.6%;}
.l-push-left-70{margin-left:70%;}
.l-push-left-75{margin-left:75%;}
.l-push-left-80{margin-left:80%;}
.l-push-left-85{margin-left:85%;}
.l-push-left-90{margin-left:90%;}
.l-push-left-95{margin-left:95%;}


.l-push-right-5{margin-right:5%;}
.l-push-right-10{margin-right:10%;}
.l-push-right-15{margin-right:15%;}
.l-push-right-1-6{margin-right:16.6%;}
.l-push-right-20{margin-right:20%;}
.l-push-right-25{margin-right:25%;}
.l-push-right-30{margin-right:30%;}
.l-push-right-1-3{margin-right:33.3%;}
.l-push-right-33{margin-right:33.3%;}
.l-push-right-35{margin-right:35%;}
.l-push-right-40{margin-right:40%;}
.l-push-right-45{margin-right:45%;}
.l-push-right-50{margin-right:50%;}
.l-push-right-55{margin-right:55%;}
.l-push-right-60{margin-right:60%;}
.l-push-right-65{margin-right:65%;}
.l-push-right-2-3{margin-right:66.6%;}
.l-push-right-70{margin-right:70%;}
.l-push-right-75{margin-right:75%;}
.l-push-right-80{margin-right:80%;}
.l-push-right-85{margin-right:85%;}
.l-push-right-90{margin-right:90%;}
.l-push-right-95{margin-right:95%;}

.l-push-right-none{margin-right:0;}
.l-push-left-none{margin-left:0;}
}
/* medium devices m */
@media screen and (max-width:959px){
.m-col-center{margin:0px auto 0px auto;float:none !important;}
	.col-100, .col-95, .col-90, .col-85, .col-80, .col-75{width:100%;}
	.col-70{width:70%;}
	.col-2-3, .col-66{width:66.6%;}
	.col-65{width:65%;}
	.col-60{width:60%;}
	.col-55{width:55%;}
	.col-50{width:50%;}
	.col-45{width:45%;}
	.col-40{width:40%;}
	.col-35{width:35%;}
	.col-1-3, .col-33{width:33.3%;}
	.col-30{width:50%;}
	.col-25{width:50%;}
	.col-20{width:50%;}
	.col-15{width:15%;}
	.col-10{width:10%;}
	
	.show-m{display:block;}.hide-m{display:none;}
.m-col-100{width:100%;}.m-col-95{width:95%;}.m-col-90{width:90%;}.m-col-85{width:85%;}.m-col-80{width:80%;}.m-col-75{width:75%;}.m-col-70{width:70%;}.m-col-2-3{width:66.6%;}.m-col-65{width:65%;}.m-col-60{width:60%;}.m-col-55{width:55%;}.m-col-50{width:50%;}.m-col-45{width:45%;}.m-col-40{width:40%;}.m-col-35{width:35%;}.m-col-1-3fix{width:33.4%;}
.m-col-1-3{width:33.3%;}.m-col-30{width:30%;}.m-col-25{width:25%;}.m-col-20{width:20%;}.m-col-1-6fix{width:17%;}.m-col-1-6{width:16.6%;}.m-col-15{width:15%;}.m-col-1-8{width:12.5%;}.m-col-10{width:10%;}
.m-push-left-5{margin-left:5%;}
.m-push-left-10{margin-left:10%;}
.m-push-left-15{margin-left:15%;}
.m-push-left-1-6{margin-left:16.6%;}
.m-push-left-20{margin-left:20%;}
.m-push-left-25{margin-left:25%;}
.m-push-left-30{margin-left:30%;}
.m-push-left-1-3{margin-left:33.3%;}
.m-push-left-33{margin-left:33.3%;}
.m-push-left-35{margin-left:35%;}
.m-push-left-40{margin-left:40%;}
.m-push-left-45{margin-left:45%;}
.m-push-left-50{margin-left:50%;}
.m-push-left-55{margin-left:55%;}
.m-push-left-60{margin-left:60%;}
.m-push-left-65{margin-left:65%;}
.m-push-left-2-3{margin-left:66.6%;}
.m-push-left-70{margin-left:70%;}
.m-push-left-75{margin-left:75%;}
.m-push-left-80{margin-left:80%;}
.m-push-left-85{margin-left:85%;}
.m-push-left-90{margin-left:90%;}
.m-push-left-95{margin-left:95%;}
	
.m-push-right-5{margin-right:5%;}
.m-push-right-10{margin-right:10%;}
.m-push-right-15{margin-right:15%;}
.m-push-right-1-6{margin-right:16.6%;}
.m-push-right-20{margin-right:20%;}
.m-push-right-25{margin-right:25%;}
.m-push-right-30{margin-right:30%;}
.m-push-right-1-3{margin-right:33.3%;}
.m-push-right-33{margin-right:33.3%;}
.m-push-right-35{margin-right:35%;}
.m-push-right-40{margin-right:40%;}
.m-push-right-45{margin-right:45%;}
.m-push-right-50{margin-right:50%;}
.m-push-right-55{margin-right:55%;}
.m-push-right-60{margin-right:60%;}
.m-push-right-65{margin-right:65%;}
.m-push-right-2-3{margin-right:66.6%;}
.m-push-right-70{margin-right:70%;}
.m-push-right-75{margin-right:75%;}
.m-push-right-80{margin-right:80%;}
.m-push-right-85{margin-right:85%;}
.m-push-right-90{margin-right:90%;}
.m-push-right-95{margin-right:95%;}

.m-push-right-none{margin-right:0;}
.m-push-left-none{margin-left:0;}
}
/* small devices s */
@media screen and (max-width:767px){
.text-col-4{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.text-col-5{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.s-col-center{margin:0px auto 0px auto;float:none !important;}
	.container{width:100%;}
	.container-res-l{width:100%;}
	.col-100, .col-95, .col-90, .col-85, .col-80, .col-75, .col-70, .col-2-3, .col-66, .col-65, .col-60, .col-55, .col-50, .col-45, .col-40, .col-35, .col-1-3, .col-33, .col-30, .col-25, .col-20{width:100%;}
.col-15{width:15%;}
.col-10{width:10%;}

.show-s{display:block;}.hide-s{display:none;}
.s-col-100{width:100%;}.s-col-95{width:95%;}.s-col-90{width:90%;}.s-col-85{width:85%;}.s-col-80{width:80%;}.s-col-75{width:75%;}.s-col-70{width:70%;}.s-col-2-3{width:66.6%;}.s-col-65{width:65%;}.s-col-60{width:60%;}.s-col-55{width:55%;}.s-col-50{width:50%;}.s-col-45{width:45%;}.s-col-40{width:40%;}.s-col-35{width:35%;}.s-col-1-3fix{width:33.4%;}.s-col-1-3{width:33%;}.s-col-30{width:30%;}.s-col-25{width:25%;}.s-col-20{width:20%;}.s-col-1-6fix{width:17%;}.s-col-1-6{width:16.6%;}.s-col-15{width:15%;}.s-col-1-8{width:12.5%;}.s-col-10{width:10%;}	
.s-push-left-5{margin-left:5%;}
.s-push-left-10{margin-left:10%;}
.s-push-left-15{margin-left:15%;}
.s-push-left-1-6{margin-left:16.6%;}
.s-push-left-20{margin-left:20%;}
.s-push-left-25{margin-left:25%;}
.s-push-left-30{margin-left:30%;}
.s-push-left-1-3{margin-left:33.3%;}
.s-push-left-33{margin-left:33.3%;}
.s-push-left-35{margin-left:35%;}
.s-push-left-40{margin-left:40%;}
.s-push-left-45{margin-left:45%;}
.s-push-left-50{margin-left:50%;}
.s-push-left-55{margin-left:55%;}
.s-push-left-60{margin-left:60%;}
.s-push-left-65{margin-left:65%;}
.s-push-left-2-3{margin-left:66.6%;}
.s-push-left-70{margin-left:70%;}
.s-push-left-75{margin-left:75%;}
.s-push-left-80{margin-left:80%;}
.s-push-left-85{margin-left:85%;}
.s-push-left-90{margin-left:90%;}
.s-push-left-95{margin-left:95%;}	

.s-push-right-5{margin-right:5%;}
.s-push-right-10{margin-right:10%;}
.s-push-right-15{margin-right:15%;}
.s-push-right-1-6{margin-right:16.6%;}
.s-push-right-20{margin-right:20%;}
.s-push-right-25{margin-right:25%;}
.s-push-right-30{margin-right:30%;}
.s-push-right-1-3{margin-right:33.3%;}
.s-push-right-33{margin-right:33.3%;}
.s-push-right-35{margin-right:35%;}
.s-push-right-40{margin-right:40%;}
.s-push-right-45{margin-right:45%;}
.s-push-right-50{margin-right:50%;}
.s-push-right-55{margin-right:55%;}
.s-push-right-60{margin-right:60%;}
.s-push-right-65{margin-right:65%;}
.s-push-right-2-3{margin-right:66.6%;}
.s-push-right-70{margin-right:70%;}
.s-push-right-75{margin-right:75%;}
.s-push-right-80{margin-right:80%;}
.s-push-right-85{margin-right:85%;}
.s-push-right-90{margin-right:90%;}
.s-push-right-95{margin-right:95%;}

.s-push-right-none{margin-right:0;}
.s-push-left-none{margin-left:0;}
}
/* small devices xs */
@media screen and (max-width:575px){
	.text-col-2{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.text-col-3{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.xs-col-center{margin:0px auto 0px auto;float:none !important;}
	.col-100, .col-95, .col-90, .col-85, .col-80, .col-75, .col-70, .col-2-3, .col-65, .col-60, .col-55, .col-50, .col-45, .col-40, .col-35, .col-1-3, .col-30, .col-25, .col-20{width:100%;}
	.col-15{width:15%;}
	.col-10{width:10%;}
	
	.show-xs{display:block;}.hide-xs{display:none;}
.xs-col-100{width:100%;}.xs-col-95{width:95%;}.xs-col-90{width:90%;}.xs-col-85{width:85%;}.xs-col-80{width:80%;}.xs-col-75{width:75%;}.xs-col-70{width:70%;}.xs-col-2-3{width:66.6%;}.xs-col-65{width:65%;}.xs-col-60{width:60%;}.xs-col-55{width:55%;}.xs-col-50{width:50%;}.xs-col-45{width:45%;}.xs-col-40{width:40%;}.xs-col-35{width:35%;}.xs-col-1-3fix{width:33.4%;}.xs-col-1-3{width:33%;}.xs-col-30{width:30%;}.xs-col-25{width:25%;}.xs-col-20{width:20%;}.xs-col-1-6fix{width:17%;}.xs-col-1-6{width:16.6%;}.xs-col-15{width:15%;}.xs-col-1-8{width:12.5%;}.xs-col-10{width:10%;}	
.xs-push-left-5{margin-left:5%;}	
.xs-push-left-10{margin-left:10%;}
.xs-push-left-15{margin-left:15%;}
.xs-push-left-1-6{margin-left:16.6%;}
.xs-push-left-20{margin-left:20%;}
.xs-push-left-25{margin-left:25%;}
.xs-push-left-30{margin-left:30%;}
.xs-push-left-1-3{margin-left:33.3%;}
.xs-push-left-33{margin-left:33.3%;}
.xs-push-left-35{margin-left:35%;}
.xs-push-left-40{margin-left:40%;}
.xs-push-left-45{margin-left:45%;}
.xs-push-left-50{margin-left:50%;}
.xs-push-left-55{margin-left:55%;}
.xs-push-left-60{margin-left:60%;}
.xs-push-left-65{margin-left:65%;}
.xs-push-left-2-3{margin-left:66.6%;}
.xs-push-left-70{margin-left:70%;}
.xs-push-left-75{margin-left:75%;}
.xs-push-left-80{margin-left:80%;}
.xs-push-left-85{margin-left:85%;}
.xs-push-left-90{margin-left:90%;}
.xs-push-left-95{margin-left:95%;}	

.xs-push-right-5{margin-right:5%;}
.xs-push-right-10{margin-right:10%;}
.xs-push-right-15{margin-right:15%;}
.xs-push-right-1-6{margin-right:16.6%;}
.xs-push-right-20{margin-right:20%;}
.xs-push-right-25{margin-right:25%;}
.xs-push-right-30{margin-right:30%;}
.xs-push-right-1-3{margin-right:33.3%;}
.xs-push-right-33{margin-right:33.3%;}
.xs-push-right-35{margin-right:35%;}
.xs-push-right-40{margin-right:40%;}
.xs-push-right-45{margin-right:45%;}
.xs-push-right-50{margin-right:50%;}
.xs-push-right-55{margin-right:55%;}
.xs-push-right-60{margin-right:60%;}
.xs-push-right-65{margin-right:65%;}
.xs-push-right-2-3{margin-right:66.6%;}
.xs-push-right-70{margin-right:70%;}
.xs-push-right-75{margin-right:75%;}
.xs-push-right-80{margin-right:80%;}
.xs-push-right-85{margin-right:85%;}
.xs-push-right-90{margin-right:90%;}
.xs-push-right-95{margin-right:95%;}


.xs-push-right-none{margin-right:0;}
.xs-push-left-none{margin-left:0;}
}
